* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    
    
}
body {
    margin: 0;
    margin-top: 0;
}
main {
    
    header {
        color: white;
        background-color: #000F46;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        p 
        {
            font-weight: 300;
        }
        h1 
        {
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }
    .link-back
    {
        
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-weight: 300;
        font-family: "Source Sans 3", sans-serif;
    }
    display: flex;
    flex-direction: column;
    gap: 12px;

    h1 {
        font-size: 44px;
        font-family: "Source Sans 3", sans-serif;
    }

    p {
        font-size: 15px;
        font-family: "Source Sans 3", sans-serif;

    }

    .container 
    {
        
    }
}